<% layout('./layout/page.ejs') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счётчик: <%= counter %></p>
<% if(user) {%>
    // Случай залогиненного пользователя
   <% }else{ %>
    // Случай не залогиненного пользователя
   <% } %>
   